<!DOCTYPE html>

<html lang="ja">
<link rel="stylesheet" type="text/css" href="css/practice.css">

<header class="header">

    <h1 class="site-title">
        <a href="./">クリ★スタ</a>
    </h1>

    <div class="nav-wrapper">

        <nav class="header-nav">

            <ul class="nav-list">

                <li class="nav-item">
                    <a href="#about">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#blog">
                        News
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#access">
                        Access
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </h1>
</header>

<div class="fv">
    <p class="main-copy">Create.Design</p>
</div>
</html>